.body {
  font-family: 'Inter', sans-serif;
}

nav {
  position: sticky;
}

#blob2 {
  position: absolute;
  right: 0;
  bottom: 13em;
  z-index: 0;
}

#blob1 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.details-container {
  margin: auto;
  width: 35%;
  border-radius: 18px;
  background-color: white;
  box-sizing: border-box;
  padding: 45px 50px 70px 50px;
  box-shadow: 34px 167px 68px rgba(0, 0, 0, 0.01), 19px 94px 57px rgba(0, 0, 0, 0.03), 9px 42px 43px rgba(0, 0, 0, 0.04), 2px 10px 23px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
}

.details-main {
  display: relative !important;
}

.measure {
  width: auto;
  height: auto;
  box-sizing: border-box;
}

.details-title {
  font-size: 35px;
  font-weight: 700;
  color: black;
  text-align: left;
  margin-bottom: 30px;
}

.mt3 {
  box-sizing: border-box;
  margin-bottom: 20px;
}

.login-signup-label {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
  width: 100%;
}

.input-box-container {
  padding: 0.7rem;
  border: solid 1px #E5E7EB;
  width: 100%;
  border-radius: 6px;
  background-color: white !important;
  box-sizing: border-box;
  margin-top: 10px;
}

.solid-button {
  background: #3B82F6;
  color: white;
  font-family: 'Inter', sans-serif;
  border: none;
  padding: 14px 16px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 30px;
}

.solid-button:hover {
  background: #3677E1;
  cursor: pointer;
}

.solid-button:after {
  background: #3677E1;
  cursor: pointer;
}

.forgot-password {
  float: right;
  color: #636161;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 15px;
}

.form-footer {
  color: #636161;
  font-weight: 500;
  font-size: 13px;
}

.details-footer {
  float: right;
  color: #636161;
}