@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  background-color: white;
}

#logo-landing {
  padding-left: 1em;
}

.content {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.solid-buttton:hover,
.solid-buttton:focus {
  opacity: 0.8;
  transition: opacity 0.15s ease-in;
}

.input-error {
  color: #d41a1a;
  font-size: 12px;
  margin: 4px 0 8px 0;
}

.input-success {
  color: #3dd617;
  font-size: 12px;
  margin: 4px 0 8px 0;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  text-transform: none;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  text-transform: none;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  text-transform: none;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  text-transform: none;
}

::placeholder {
  /* Recent browsers */
  text-transform: none;
}

.mv3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.table-responsive {
  max-height: 50%;
  width: 70%;
  font-family: Poppins;
}

.table-responsive thead {
  font-family: PoppinsBold;
}

.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media (--breakpoint-medium) {
  .details-container {
    width: 50%;
  }
}

@media (--breakpoint-large) {
  .details-container {
    width: 25%;
  }
}